terraform {
  required_providers {
    hcloud = {
      source = "hetznercloud/hcloud"
    }
    hetznerdns = {
      source = "timohirt/hetznerdns"
    }
  }
}

module "hetzner" {
  source       = "../../platforms/hetzner"
  name_prefix  = "{{ENV_NAME}}-mc"
  ssh_keys     = {{SSH_KEYS}}
  dns_zone     = "{{DNS_ZONE}}"
  
  servers = {{SERVERS_CONFIG}}
}